#panel {
    /* background-color: yellow; */
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    grid-template-columns: 10px repeat(6, 1fr) 0.25fr 30px;
    grid-template-rows: 40px 1fr 0.5fr 1.5fr repeat(10, 1fr) 0.75fr 40px;
    display: grid;

}

.topbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#taskbar {
    grid-row: 2 / span 2;
    grid-column: 2 / span 6;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2px;
    display: grid; 
    font-size: 0.75em;
}

#list {
    background-color: #060d14d3;
    margin-top: 2px;
    grid-row: 4 / span 10;
    grid-column: 2 / span 6;
    grid-template-rows: 10px repeat(3, 1fr) 20px;
    grid-template-columns: 10px 1fr 1fr 10px;
    display: grid;
}

.cable-cell1, .cable-cell2 {
    display: none;
}

#account {
    background-color: #011f3f;
    margin-top: 2px;
    grid-row: 4 / span 12;
    grid-column: 2 / span 6;
    grid-template-rows: 10px 1fr 1fr 3fr 20px;
    grid-template-columns: 20px 1fr 1fr 20px;
    display: none;
}

#account-title {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
    display: grid;
}

#account-emoji {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    font-size: 4em;
}

#account-text {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    font-size: 2em;
    justify-content: center;
    align-items: center;
}

#account-emoji-success {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    font-size: 4em;
    display: none;
}

#account-text-success {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    display: none;
}

#loginForm {
    grid-row: 3 / span 2;
    grid-column: 2 / span 2;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.5em;
}

#username, #password {
    height: 30px;
    width: 250px;
}

#login {
    height: 55px;
    width: 250px;
    font-family: Righteous;
    font-size: 1em;
    background-color: #094b97;
    color: white;
}

#login:hover {
    border: 1px solid white;
    background-color: #0e76e6;
}

/* #order {
    background-color: #aa2807;
    margin-top: 2px;
    grid-row: 4 / span 12;
    grid-column: 2 / span 6;
    grid-template-rows: 10px repeat(3, 1fr) 20px;
    grid-template-columns: 1fr 1fr;
    display: none;
} */

.type-cell1 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    /* background-color: white; */
}

.type-cell2 {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
    /* background-color: rgb(30, 255, 0); */
}

.type-cell3 {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    /* background-color: rgb(4, 184, 255); */
}

.type-cell4 {
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
    /* background-color: rgb(0, 217, 255); */
}

.type-cell5 {
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
    /* background-color: white; */
}

.type-cell6 {
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
    /* background-color: rgb(30, 255, 0); */
}

.cable-cell1 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    font-size: 1.2em;
    margin-top: 50px;
}

.cable-cell2 {
    grid-row: 4 / span 1;
    grid-column: 2 / span 2;
    font-size: 1.2em;
    margin-bottom: 40px;
}

.type-cell1, .type-cell2, .type-cell3, .type-cell4, .type-cell5, .type-cell6, .cable-cell1, .cable-cell2 {
    grid-template-rows: 30px 3fr 1fr 30px;
    grid-template-columns: 30px 1fr 30px;
    display: grid;
}

.type-cell1:hover, .type-cell2:hover, .type-cell3:hover, .type-cell4:hover, .type-cell5:hover, .type-cell6:hover, .cable-cell1:hover, .cable-cell2:hover {
    background-color: #0f3859;
}

.type-cell1.active, .type-cell2.active, .type-cell3.active, .type-cell4.active, .type-cell5.active, .type-cell6.active, .cable-cell1.active, .cable-cell2.active {
    background-color: #0a8cf7;
}

.list-logo, .list-logo2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    /* background-color: black; */
}

.list-logo img {
    width: 70%;
    height: auto;
    object-fit: contain;
}

.list-logo2 img {
    width: 40%;
    height: auto;
    object-fit: contain;
}

.list-text {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    background-color: black;
    font-size: 1em;
}

.list-text:hover {
    background-color: #2384d5ff;
}

#colors {
    background-color: #060d14f1;
    grid-row: 14 / span 2;
    grid-column: 2 / span 6;
    grid-template-rows: 5px 1fr 2fr 20px;
    grid-template-columns: 20px 1fr 20px;
    gap: 5px;
    display: grid; 
}

.task-cell1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.task-cell2 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.task-cell3 {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}

.task-cell4 {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
}

.task-cell5 {
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
}

.task-cell6 {
    grid-row: 1 / span 1;
    grid-column: 6  / span 1;
}

.task-cell1, .task-cell2, .task-cell3, .task-cell4, .task-cell5, .task-cell6 {
    grid-template-rows: 4fr 1fr 5px;
    grid-template-columns: 1;
    transition: background-color 0.5s ease;
    display: grid;
    background-color: #060d14ff;
    color: white;
}

.task-logo {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.task-text {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.task-cell1 img, .task-cell2 img, .task-cell3 img, .task-cell4 img, .task-cell5 img, .task-cell6 img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.task-cell1:hover, .task-cell2:hover, .task-cell3:hover, .task-cell4:hover, .task-cell5:hover, .task-cell6:hover {
    background-color: #0f3859ff;
}

.task-cell1.active, .task-cell2.active, .task-cell3.active, .task-cell4.active, .task-cell5.active {
    background-color: #0a8cf7; 
}

.task-cell6.active {
    background-color: #b82006;
}


#color-head {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    font-size: 1.4em;
    display: none;
}

#colorbar {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    display: none;
}

.colorbox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.color-cell1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    background-color: white;
    color: white;
}

.color-cell2 {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    background-color: gray;
    color: gray;
}

.color-cell3 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    background-color: black;
    color: black;
}

.color-cell4 {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    background-color: red;
    color: red;
}

.color-cell5 {
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
    background-color: green;
    color: green;
}

.color-cell6 {
    grid-row: 1 / span 1;
    grid-column: 6 / span 1;
    background-color: blue;
    color: blue;
}

.color-cell1:hover {
    color: black;
}

.color-cell1:active {
    color: black;
}

.color-cell2:hover, .color-cell3:hover, .color-cell4:hover, .color-cell5:hover, .color-cell6:hover {
    color: white;
}

.color-cell2:focus, .color-cell3:active, .color-cell4:active, .color-cell5:active, .color-cell6:active {
    color: white;
}